<link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" />
<link rel="shortcut icon" href="/assets/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
<link rel="manifest" href="/assets/favicons/site.webmanifest" />
<meta property="og:image" content="https://mugshotbot.com/m?color=teal&image=49d6cc57&mode=light&pattern=lines_in_motion&url={{ (site.url | append: page.url) | url_encode }}">
<meta property="twitter:card" content="summary_large_image">
